.hero {
  margin-bottom: 20px;
  // flex-wrap: wrap;

  &__container {
    display: flex;
  }

  &__item {
    padding: 24px 12px 16px;
    width: 100%;
    text-align: start;
    overflow: hidden;

    &-image {
      display: block;
      min-height: 300px;
      padding: 0 0 100% 0;
      position: relative;
      margin-bottom: 10px;
    }
    &-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &-title {
      font-size: 28px;
      margin-left: 10%;
      margin-bottom: 2%;
      font-weight: 400;
    }
    &-link {
      text-decoration: underline;
      margin-left: 10%;
      letter-spacing: 1.6px;
    }
  }
}
