.popular__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.popular__title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
}
