.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 0 210px;
  min-height: 200px;
  margin-right: 15px;
  margin-bottom: 20px;
  max-width: 500px;
  @include md {
    // max-width: 48%;
    // flex-shrink: 1;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
  &__image {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: 400;
    padding: 5px 0;
    a {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
  }

  &__desc {
    opacity: 0.6;
    padding: 5px 0;
  }
  &__price {
    padding: 5px 0;
  }
}
